<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="PrinterName" value="80mm(180dpi) Series Printer" />
    <add key="PrinterNameKitchen" value="80mm(180dpi) Series Printer" />
    <!--<add key="PrinterName" value="Microsoft XPS Document Writer" />
    <add key="PrinterNameKitchen" value="Microsoft XPS Document Writer" />-->
    <add key="FontSize" value="9" />
  </appSettings>
  <connectionStrings>
    <add name="POSEntities" connectionString="metadata=res://*/PosDb.csdl|res://*/PosDb.ssdl|res://*/PosDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARIEFIMANSANTOS;initial catalog=POS;persist security info=True;user id=sa;password=J4mT4ng4n;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="POSDataContext" connectionString="metadata=res://*/POS.csdl|res://*/POS.ssdl|res://*/POS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARIEFIMANSANTOS;initial catalog=POS;persist security info=True;user id=sa;password=J4mT4ng4n;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Pos.Desktop.Properties.Settings.POSConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=POS;Persist Security Info=True;User ID=sa;Password=meatcompiler"
      providerName="System.Data.SqlClient" />
  </connectionStrings>  
</configuration>